.banner{
    height: 100vh;
    background: linear-gradient( rgba(13, 14, 13, 0.795), rgba(143, 81, 81, 0.308)),url('https://cdn.pixabay.com/video/2022/02/10/107303-676158761_tiny.mp4');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}